/* google font  */
.dm-sans {
  font-family: "DM Sans", sans-serif;
}


 /* css customization start */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header */

.body{

  max-width: 1440;
  margin:  0 auto;
  padding: 0px  135px;
}

/* navbar style */
.navbar{

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  min-height: 90px;

}

/* menu-items style */

.menu-items{

  display: flex;
  gap: 20px;

}


.menu-items > li {
  list-style: none;
}




