/* google font  */
.dm-sans {
  font-family: "DM Sans", sans-serif;
}


 /* css customization start */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header */

.body{

  max-width: 1440;
  margin:  0 auto;
  padding: 0px  135px;
}

/* navbar style */
.navbar{

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  min-height: 90px;

}

/* logo style */

.logo > a {
  text-decoration: none;
  font-size: 25px;
  color: rgba(1, 53, 52, 0.98);
  text-transform: capitalize;
  font-weight: 800;
  
}


/* menu-items style */

.menu-items{

  display: flex;
  gap: 20px;

}


.menu-items > li {
  list-style: none;
}

.menu-items > li > a {
  
  text-decoration: none;
  color: #3b3b3b;
  font-size: 15px;
  font-weight: 400;
  border:none;
  padding: 5px;
  border-radius: 1px;

}

.menu-items > li > a:hover  {
  color: rgb(255, 255, 255);
  background: #5d5151;
  border-radius: 3px;
  transition: .4s;
  cursor: pointer;
}


/* action button style */


.action-btn{
  padding: 10px 10px;
  border: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}


/* action btn  hover */

.action-btn:hover{
  background-color: rgb(0, 0, 0);
 color: white;
 cursor: pointer;
 transition: .5s;
}